
<style>
    header {
        background-color:gold;
        color:white;
        text-align:center;
        padding:5px;
    }
    nav {
        line-height:30px;
        background-color:goldenrod;
        height:645px;
        width:150px;
        float:left;
        padding:5px;
    }
    section {
        width:520px;
        float:left;
        padding:10px;
    }
    footer {
        background-color:gold;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>
<header>
    <h1>GSW MANAGEMENT</h1>
</header>
<nav>
    <br>
    <a href="/">Home</a><br>
    <a href="/course/create">Add Players</a><br>
    <a href="/course/dropdown_ajax">Team Roster</a><br>
    <a href="/course/startinglineup">Starting Lineup</a><br>
    <a href="/course/seasonstats">Season Statistics</a><br>
    <a href="/course/gamestats">Game Statistics</a><br>
    <a href="/course/points">Total Points in Game</a><br>
    <a href="/course/highscoring">High Scoring Players</a><br>
    <a href="/about">About</a><br>
</nav>
<section>
    <h1><center>ABOUT PAGE</center></h1>
    <h4>Website Puropse:</h4>
    <p>
        The purpose of this website is to help a basketball couch to organize his or her player’s
        statistics from a current game to help determine the starting five rotations for the upcoming
        game base on the season statistics. The application will contain a table for the team roster,
        player’s season statistics, player’s current game statistics, and the starting five rotation
        which all can be updated, add, delete, and view for all players on the team.
    </p>
    <h4>Company / Organization:</h4>
    <p>
        Management Inc. is a startup company dedicated to building high quality websites
        application for clients all over the world. The company currently has one headquarter located
        in San Francisco, and have over 100 active employees.  The developers in our company are highly
        experienced and provide long hours to meeting all of our client’s goals and dedicated to provide
        100% satisfaction for all of our customers.
    </p>
    <h4>Contact Infomation:</h4>
    <p>
        Management Inc. <br>
        39A Leningradskoe Shosse <br>
        San Francisco, CA 125212 <br><br>

        Tel: +7-455-797-8700 <br>
        Fax: +7-435-797-8709 <br>
        Email: management@basketball.com
    </p>


<div id="output" style="margin:10px;display:none"></div>
        </center>
</section>
<footer>Copyright © Danit</footer>

