<% include header %>
<style>
    header {
        background-color:gold;
        color:white;
        text-align:center;
        padding:5px;
    }
    nav {
        line-height:30px;
        background-color:goldenrod;
        height:645px;
        width:150px;
        float:left;
        padding:5px;
    }
    section {
        width:520px;
        float:left;
        padding:10px;
    }
    footer {
        background-color:gold;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>
<header>
    <h1>GSW MANAGEMENT</h1>
</header>
<nav>
    <br>
    <a href="/">Home</a><br>
    <a href="/course/create">Add Players</a><br>
    <a href="/course/dropdown_ajax">Team Roster</a><br>
    <a href="/course/startinglineup">Starting Lineup</a><br>
    <a href="/course/seasonstats">Season Statistics</a><br>
    <a href="/course/gamestats">Game Statistics</a><br>
    <a href="/course/points">Total Points in Game</a><br>
    <a href="/course/highscoring">High Scoring Players</a><br>
    <a href="/about">About</a><br>
</nav>

<section><center>
    <div>
        <h1>Players With Season Average of greater than 10 Points </h1>
    <% if(rs.length > 0) { %>
        <table border="3">
            <tr><th>N.O.</th><th>Players</th>

            <% for (var i=0; rs.length > i; i++) { %>
                <tr>
                <td><%= rs[i].Num %></td><td><%= rs[i].Name %></td>

                </tr>
            <% } %>
        </table>
    <% } else { %>
         No courses are entered into the Course database table.
    <% } %>
        </div>
    </center></section>

    <div style="margin-top:10px;">

    </div>


<footer>Copyright © Danit</footer>